In [1]:
#from collections import Counter
from datetime import datetime, timedelta
#import pickle
#import warnings

#from   hmmlearn.hmm import GaussianHMM
#import matplotlib.pyplot as plt
#import numpy as np
#import pandas as pd
import yfinance as yf

In [2]:
DATA = '../data'
TODAY = datetime.now().date()
TOMORROW  = TODAY + timedelta(1)
STATE_RANGE = range(3, 11)
TOMORROW

datetime.date(2024, 3, 23)

In [3]:
sp = yf.download(
    '^GSPC', start='1965-01-01', end=str(TOMORROW)).sort_index()
nyse = yf.download(
    '^NYA', start='1965-01-01', end=str(TOMORROW)).sort_index()
nas = yf.download(
    '^IXIC', start='1965-01-01', end=str(TOMORROW)).sort_index()
#wil = yf.download(
#    '^W5000', start='1990-01-01', end=str(TOMORROW))

path = '../data'
sp.to_csv(f'{path}/sp1950.csv')
nyse.to_csv(f'{path}/nya1965.csv')
nas.to_csv(f'{path}/nasdaq1965.csv')
#wil.to_csv(f'{path}/wilshire1990.csv')

#sp = pd.read_csv(f'{DATA}/sp1950.csv')
#nyse = pd.read_csv(f'{DATA}/nya1965.csv')
#nas = pd.read_csv(f'{DATA}/nasdaq1965.csv')
#wil = pd.read_csv(f'{DATA}/wilshire1990.csv')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
sp.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-03-18,5154.770020,5175.600098,5145.470215,5149.419922,5149.419922,4036220000
2024-03-19,5139.089844,5180.310059,5131.589844,5178.509766,5178.509766,4031760000
2024-03-20,5181.689941,5226.189941,5171.549805,5224.620117,5224.620117,4064850000
2024-03-21,5253.430176,5261.100098,5240.660156,5241.529785,5241.529785,4207730000
2024-03-22,5242.479980,5246.089844,5229.870117,5234.180176,5234.180176,1986473000

In [5]:
nas.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-03-18,16154.919922,16247.589844,16094.169922,16103.450195,16103.450195,5025040000
2024-03-19,16031.929688,16175.589844,15951.860352,16166.790039,16166.790039,4758740000
2024-03-20,16185.759766,16377.440430,16127.480469,16369.410156,16369.410156,5298380000
2024-03-21,16517.240234,16538.859375,16393.900391,16401.839844,16401.839844,5134740000
2024-03-22,16387.800781,16467.615234,16360.997070,16428.818359,16428.818359,3939256000

In [6]:
for df in [sp, nyse, nas]: #, wil]:
    print(df.index[-1])

2024-03-22 00:00:00
2024-03-22 00:00:00
2024-03-22 00:00:00

In [7]:
x = sp['Adj Close'].to_numpy()
np.append([np.nan], x[1:] / x[:-1])

NameError: name 'np' is not defined

In [8]:
def get_daily_changes(series):
    x = series.to_numpy()
    return np.append([1], x[1:] / x[:-1])

In [7]:
def prep_df(df, name):
    df.index = pd.to_datetime(df.index)
    df[f'{name}_daily'] = get_daily_changes(df['Adj Close'])
    df.rename(columns={'Adj Close': name}, inplace=True)
    return df[[name, f'{name}_daily']]

In [8]:
[sp, nyse, nas, wil] = [
    prep_df(df, name) 
    for df, name in zip(
        [sp, nyse, nas, wil], ['sp', 'nyse', 'nas', 'wil'])]
sp.head()

                   sp  sp_daily
Date
1965-01-04  84.230003  1.000000
1965-01-05  84.629997  1.004749
1965-01-06  84.889999  1.003072
1965-01-07  85.260002  1.004359
1965-01-08  85.370003  1.001290

In [9]:
nyse.head()

                  nyse  nyse_daily
Date
1965-12-31  528.690002    1.000000
1966-01-03  527.210022    0.997201
1966-01-04  527.840027    1.001195
1966-01-05  531.119995    1.006214
1966-01-06  532.070007    1.001789

In [10]:
nas.head()

                   nas  nas_daily
Date
1971-02-05  100.000000   1.000000
1971-02-08  100.839996   1.008400
1971-02-09  100.760002   0.999207
1971-02-10  100.690002   0.999305
1971-02-11  101.449997   1.007548

In [11]:
def find_best_mod(
        daily,
        n_states=[6, 7, 8],
        max_iter=1000,
        reps=3,
        best_logprob=None,
        best_mod=None,
        best_states=None):
    daily = np.reshape(daily.values, [-1, 1])
    best_logprob = best_logprob or -np.inf
    best_mod = best_mod or None
    best_states = best_states or None
    for states in n_states:
        for rep in range(reps):
            try:
                print(f'rep {rep + 1}', end='\r')
                for cov in ['spherical', 'diag', 'full']:
                    mod = GaussianHMM(
                        n_components=states,
                        covariance_type=cov,
                        n_iter=max_iter
                    ).fit(daily)
                    logprob = mod.score(daily)
                    if logprob > best_logprob:
                        print(f'New best - States: {states} (cov: {cov})')
                        best_logprob = logprob
                        best_mod = mod
                        best_states = states
            except ValueError:
                pass
    return best_mod, best_logprob, best_states

In [12]:
def get_preds(daily, mod):
    daily = np.reshape(daily.values, [-1, 1])
    states = mod.predict(daily)
    means = np.squeeze(mod.means_)
    sds = np.squeeze(np.sqrt(mod.covars_))
    preds = np.array([means[state] for state in states])
    ses = np.array([1.96 * sds[state] for state in states])
    return preds, ses, means, states[-1]

In [13]:
def plot_mod(df, preds, ses, name):
    daily = f'{name}_daily'
    plt.plot(df[daily], label='daily')
    plt.plot(df.index, preds, label='preds')
    plt.legend()

    plt.figure()
    plt.plot(df[daily], label='daily')
    plt.plot(
        df.index, preds, label='preds', color='orange', linewidth=3)
    plt.plot(df.index, preds + ses, color='orange', linestyle='-.')
    plt.plot(df.index, preds - ses, color='orange', linestyle='-.')
    plt.axhline(y=1, color='k')
    plt.ylim([0.95, 1.05]);
    plt.xlim([df.index[-500], df.index[-1]])

    plt.figure()
    plt.plot(df[name])
    plt.xlim([df.index[-500], df.index[-1]])
    sub = df.iloc[-500:, :]
    plt.ylim(
        0.95 * sub[name].min(), 1.05 * sub[name].max());

In [14]:
def get_expected_val(mod, current_state, means):
    return np.dot(mod.transmat_[current_state, :], means)

In [15]:
# start search from previous day's best
with open(f'{DATA}/hmm_mods.pkl', 'rb') as f:
    out_data  = pickle.load(f)

out_data

{'^GSPC': {'logprob': 49024.13881865065,
  'mod': GaussianHMM(covariance_type='spherical', n_components=8, n_iter=1000),
  'n_states': 8},
 '^NYA': {'logprob': 48654.932825267424,
  'mod': GaussianHMM(covariance_type='spherical', n_components=8, n_iter=1000),
  'n_states': 8},
 '^IXIC': {'logprob': 42732.41519228567,
  'mod': GaussianHMM(covariance_type='spherical', n_components=9, n_iter=1000),
  'n_states': 9},
 '^W5000': {'logprob': 27481.246646209045,
  'mod': GaussianHMM(covariance_type='spherical', n_components=10, n_iter=1000),
  'n_states': 10}}

In [16]:
sp_prob, sp_mod, sp_best_states = (
    out_data['^GSPC']['logprob'], out_data['^GSPC']['mod'], out_data['^GSPC']['n_states'])
nyse_prob, nyse_mod, nyse_best_states = (
    out_data['^NYA']['logprob'], out_data['^NYA']['mod'], out_data['^NYA']['n_states'])
nas_prob, nas_mod, nas_best_states = (
    out_data['^IXIC']['logprob'], out_data['^IXIC']['mod'], out_data['^IXIC']['n_states'])
wil_prob, wil_mod, wil_best_states = (
    out_data['^W5000']['logprob'], out_data['^W5000']['mod'], out_data['^W5000']['n_states'])

In [17]:
type(sp_mod)

hmmlearn.hmm.GaussianHMM

## S&P

In [18]:
warnings.filterwarnings('ignore', category=RuntimeWarning)

In [19]:
#sp_prob = None
#sp_mod = None
#sp_best_states = None

In [ ]:
sp_mod, sp_prob, sp_best_states = find_best_mod(
    sp.sp_daily,
    n_states=STATE_RANGE,
    best_logprob=sp_prob,
    best_mod=sp_mod,
    best_states=sp_best_states)
sp_preds, sp_ses, sp_means, sp_current = get_preds(sp.sp_daily, sp_mod)
plot_mod(sp, sp_preds, sp_ses, 'sp')
sp_exp = get_expected_val(sp_mod, sp_current, sp_means)
print(sp_exp)

New best - States: 7 (cov: spherical)
New best - States: 9 (cov: full)

## NYSE

In [ ]:
#nyse_prob = None
#nyse_mod = None
#nyse_best_states = None

In [ ]:
nyse_mod, nyse_prob, nyse_best_states = find_best_mod(
    nyse.nyse_daily,
    n_states=STATE_RANGE,
    best_logprob=nyse_prob,
    best_mod=nyse_mod,
    best_states=nyse_best_states)
nyse_preds, nyse_ses, nyse_means, nyse_current = get_preds(
    nyse.nyse_daily, nyse_mod)
plot_mod(nyse, nyse_preds, nyse_ses, 'nyse')
nyse_exp = get_expected_val(nyse_mod, nyse_current, nyse_means)
print(nyse_exp)

## Nasdaq

In [ ]:
#nas_prob = None
#nas_mod = None
#nas_best_states = None

In [ ]:
nas_mod, nas_prob, nas_best_states = find_best_mod(
    nas.nas_daily,
    n_states=STATE_RANGE,
    best_logprob=nas_prob,
    best_mod=nas_mod,
    best_states=nas_best_states)
nas_preds, nas_ses, nas_means, nas_current = get_preds(
    nas.nas_daily, nas_mod)
plot_mod(nas, nas_preds, nas_ses, 'nas')
nas_exp = get_expected_val(nas_mod, nas_current, nas_means)
print(nas_exp)

## Wilshire

In [ ]:
#wil_prob = None
#wil_mod = None
#wil_best_states = None

In [ ]:
wil_mod, wil_prob, wil_best_states = find_best_mod(
    wil.wil_daily,
    n_states=STATE_RANGE,
    best_logprob=wil_prob,
    best_mod=wil_mod,
    best_states=wil_best_states)
wil_preds, wil_ses, wil_means, wil_current = get_preds(
    wil.wil_daily, wil_mod)
plot_mod(wil, wil_preds, wil_ses, 'wil')
wil_exp = get_expected_val(wil_mod, wil_current, wil_means)
print(wil_exp)

In [ ]:
#sp_best_states = len(np.unique(sp_preds))
#nyse_best_states = len(np.unique(nyse_preds))
#nas_best_states = len(np.unique(nas_preds))
#wil_best_states = len(np.unique(wil_preds))

In [ ]:
out_data = {
    '^GSPC': {'logprob': sp_prob, 'mod': sp_mod, 'n_states': sp_best_states},
    '^NYA': {'logprob': nyse_prob, 'mod': nyse_mod, 'n_states': nyse_best_states},
    '^IXIC': {'logprob': nas_prob, 'mod': nas_mod, 'n_states': nas_best_states},
    '^W5000': {'logprob': wil_prob, 'mod': wil_mod, 'n_states': wil_best_states}}
with open(f'{DATA}/hmm_mods_indices.pkl', 'wb') as f:
    pickle.dump(out_data, f)

In [ ]:
print(
    sp_best_states, nyse_best_states, nas_best_states, wil_best_states)
mean_states = (
    (sp_best_states
     + nyse_best_states
     + nas_best_states
     + wil_best_states)
    / 4)
mean_states

In [ ]:
N_STATES = int(round(mean_states))
N_STATES

In [ ]:
exp = (sp_exp + nyse_exp + nas_exp + wil_exp) / 4
exp

In [ ]:
for df, name, exp in zip(
        [sp, nyse, nas, wil],
        ['sp', 'nyse', 'nas', 'wil'],
        [sp_preds, nyse_preds, nas_preds, wil_preds]):
    df[f'{name}_exp'] = exp

In [ ]:
df = pd.concat([sp, nyse, nas, wil], axis=1)
df.tail()

In [ ]:
df['mean_exp'] = (
    df[['sp_exp', 'nyse_exp', 'nas_exp', 'wil_exp']].mean(axis=1))

In [ ]:
plt.figure(figsize=[15, 8])
plt.plot(df.sp_exp, label='sp')
plt.plot(df.nyse_exp, label='nyse')
plt.plot(df.nas_exp, label='nasdaq')
plt.plot(df.wil_exp, label='wilshire')

plt.legend();

In [ ]:
plt.figure(figsize=[15, 8])
plt.plot(df.sp_exp, alpha=0.5)
plt.plot(df.nyse_exp, alpha=0.5)
plt.plot(df.nas_exp, alpha=0.5)
plt.plot(df.wil_exp, alpha=0.5)
plt.plot(df.mean_exp, linewidth=3)
plt.axhline(y=1, color='k');

In [ ]:
TODAY = datetime.now()
plt.figure(figsize=[15, 8])
plt.plot(df.sp_exp, alpha=0.5)
plt.plot(df.nyse_exp, alpha=0.5)
plt.plot(df.nas_exp, alpha=0.5)
plt.plot(df.wil_exp, alpha=0.5)
plt.plot(df.mean_exp, linewidth=3)
plt.axhline(y=1, color='k')
plt.xlim(pd.to_datetime('2010-01-01'), TODAY);

In [ ]:
TODAY = datetime.now()
plt.figure(figsize=[15, 8])
plt.plot(df.sp_exp, alpha=0.5)
plt.plot(df.nyse_exp, alpha=0.5)
plt.plot(df.nas_exp, alpha=0.5)
plt.plot(df.wil_exp, alpha=0.5)
plt.plot(df.mean_exp, linewidth=3)
plt.xlim(pd.to_datetime('2020-01-01'), TODAY);
plt.axhline(y = 1, color='k');

In [ ]:
plt.figure(figsize=[15, 8])
plt.plot(df.sp_exp, alpha=0.5)
plt.plot(df.nyse_exp, alpha=0.5)
plt.plot(df.nas_exp, alpha=0.5)
plt.plot(df.wil_exp, alpha=0.5)
plt.plot(df.mean_exp, linewidth=3)
plt.axhline(y=1, color='k')
plt.xlim(pd.to_datetime('2021-01-01'), TODAY)
plt.ylim([0.995, 1.005]);

In [ ]:
df = df[df.index >= pd.to_datetime('1970-01-01')]

In [ ]:
try:
    df['state'] = pd.qcut(
        df.mean_exp,
        N_STATES,
        retbins=False,
        duplicates='drop',
        labels=range(N_STATES))
except ValueError:
    try:
        df['state'] = pd.qcut(
            df.mean_exp,
            N_STATES,
            retbins=False,
            duplicates='drop',
            labels=range(N_STATES - 1))
    except ValueError:
        df['state'] = pd.qcut(
            df.mean_exp,
            N_STATES,
            retbins=False,
            duplicates='drop',
            labels=range(N_STATES - 2))

In [ ]:
df.state.value_counts()

In [ ]:
plt.figure(figsize=[15, 8])
plt.plot(df.state);

In [ ]:
plt.figure(figsize=[15, 8])
plt.plot(df.state)
plt.xlim(pd.to_datetime('2010-01-01'), TODAY);

plt.figure(figsize=[15, 8])
plt.plot(df.state)
plt.xlim(pd.to_datetime('2021-01-01'), TODAY);

plt.figure(figsize=[15, 8])
plt.plot(df.state)
plt.xlim(pd.to_datetime('2022-01-01'), TODAY);

In [ ]:
transitions = Counter()
for i in range(len(df.state) - 1):
    state = df.state[i]
    nxt = df.state[i + 1]
    transitions[(state, nxt)] += 1

In [ ]:
df.to_csv(f'{DATA}/hmm_exp_returns.csv')

In [ ]:
TODAY

In [ ]:
CURRENT_STATE = df.state[-1]
CURRENT_STATE

In [ ]:
possible_transitions = sorted(
    [k for k in transitions.keys() if k[0] == CURRENT_STATE])
state_sum = 0
for pt in possible_transitions:
    n_trans = transitions[pt]
    state_sum += n_trans
    print(f'{pt}: {n_trans}')

print()

data = []
for pt in possible_transitions:
    n_trans = transitions[pt]
    print(f'{pt}: {n_trans / state_sum:.4f}')
    data.append([pt[1], n_trans / state_sum])

In [ ]:
trans_df = pd.DataFrame(data, columns=['next_state', 'prob'])
trans_df

In [ ]:
trans_df.to_csv('../data/transition_probs.csv', index=False)

In [ ]:
df.state.value_counts()

In [ ]:
state_var = (
    df[['state', 'mean_exp']].groupby('state').agg(['mean', 'std']))
state_var.columns = ['mean', 'std']
state_var
state_var['ci'] = state_var.apply(
    lambda row: [
        row['mean'] - 1.96*row['std'],
        row['mean'] + 1.96*row['std']], axis=1)
state_var

In [ ]:
plt.scatter(state_var.index, state_var['mean'])
for state in range(state_var.index.max() + 1):
    plt.plot([state, state], state_var.loc[state, 'ci'], color='k');

In [40]:
import numpy as np
import pandas as pd

In [93]:
symbols = ['AA', 'AABA', 'TSLA']
data = yf.download(symbols, start='1962-01-01', end='2024-03-23').drop(columns='Open')
data.head()

[*********************100%***********************]  3 of 3 completed

1 Failed download:
- AABA: No timezone found, symbol may be delisted

                    Adj Close               Close                High       \
                           AA AABA TSLA        AA AABA TSLA        AA AABA
Date
1962-01-02 00:00:00  1.506892  NaN  NaN  6.545672  NaN  NaN  6.583219  NaN
1962-01-03 00:00:00  1.529942  NaN  NaN  6.645797  NaN  NaN  6.645797  NaN
1962-01-04 00:00:00  1.529942  NaN  NaN  6.645797  NaN  NaN  6.695859  NaN
1962-01-05 00:00:00  1.527062  NaN  NaN  6.633281  NaN  NaN  6.683344  NaN
1962-01-08 00:00:00  1.475199  NaN  NaN  6.408000  NaN  NaN  6.608250  NaN

                               Low           Volume
                    TSLA        AA AABA TSLA     AA AABA TSLA
Date
1962-01-02 00:00:00  NaN  6.545672  NaN  NaN  55930  NaN  NaN
1962-01-03 00:00:00  NaN  6.533156  NaN  NaN  74906  NaN  NaN
1962-01-04 00:00:00  NaN  6.645797  NaN  NaN  80899  NaN  NaN
1962-01-05 00:00:00  NaN  6.620766  NaN  NaN  70911  NaN  NaN
1962-01-08 00:00:00  NaN  6.357938  NaN  NaN  93883  NaN  NaN

In [94]:
new_cols = data.columns.map(lambda t: f'{t[1]}_{t[0]}'.lower().replace('_adj close', ''))
new_cols

Index(['aa', 'aaba', 'tsla', 'aa_close', 'aaba_close', 'tsla_close', 'aa_high',
       'aaba_high', 'tsla_high', 'aa_low', 'aaba_low', 'tsla_low', 'aa_volume',
       'aaba_volume', 'tsla_volume'],
      dtype='object')

In [95]:
data.columns = new_cols
data.head()

,aa,aaba,tsla,aa_close,aaba_close,tsla_close,aa_high,aaba_high,tsla_high,aa_low,aaba_low,tsla_low,aa_volume,aaba_volume,tsla_volume
Date,,,,,,,,,,,,,,,
1962-01-02 00:00:00,1.506892,NaN,NaN,6.545672,NaN,NaN,6.583219,NaN,NaN,6.545672,NaN,NaN,55930,NaN,NaN
1962-01-03 00:00:00,1.529942,NaN,NaN,6.645797,NaN,NaN,6.645797,NaN,NaN,6.533156,NaN,NaN,74906,NaN,NaN
1962-01-04 00:00:00,1.529942,NaN,NaN,6.645797,NaN,NaN,6.695859,NaN,NaN,6.645797,NaN,NaN,80899,NaN,NaN
1962-01-05 00:00:00,1.527062,NaN,NaN,6.633281,NaN,NaN,6.683344,NaN,NaN,6.620766,NaN,NaN,70911,NaN,NaN
1962-01-08 00:00:00,1.475199,NaN,NaN,6.408000,NaN,NaN,6.608250,NaN,NaN,6.357938,NaN,NaN,93883,NaN,NaN

In [96]:
data.index = data.index.astype(str)
data.head()

,aa,aaba,tsla,aa_close,aaba_close,tsla_close,aa_high,aaba_high,tsla_high,aa_low,aaba_low,tsla_low,aa_volume,aaba_volume,tsla_volume
Date,,,,,,,,,,,,,,,
1962-01-02 00:00:00,1.506892,NaN,NaN,6.545672,NaN,NaN,6.583219,NaN,NaN,6.545672,NaN,NaN,55930,NaN,NaN
1962-01-03 00:00:00,1.529942,NaN,NaN,6.645797,NaN,NaN,6.645797,NaN,NaN,6.533156,NaN,NaN,74906,NaN,NaN
1962-01-04 00:00:00,1.529942,NaN,NaN,6.645797,NaN,NaN,6.695859,NaN,NaN,6.645797,NaN,NaN,80899,NaN,NaN
1962-01-05 00:00:00,1.527062,NaN,NaN,6.633281,NaN,NaN,6.683344,NaN,NaN,6.620766,NaN,NaN,70911,NaN,NaN
1962-01-08 00:00:00,1.475199,NaN,NaN,6.408000,NaN,NaN,6.608250,NaN,NaN,6.357938,NaN,NaN,93883,NaN,NaN

In [102]:
n = len(data)
nullsum = data.isnull().sum()
empties = nullsum[nullsum == n].index
empties

Index(['aaba', 'aaba_close', 'aaba_high', 'aaba_low', 'aaba_volume'], dtype='object')

In [103]:
data.drop(columns=empties, inplace=True)
data.head()

,aa,tsla,aa_close,tsla_close,aa_high,tsla_high,aa_low,tsla_low,aa_volume,tsla_volume
Date,,,,,,,,,,
1962-01-02 00:00:00,1.506892,NaN,6.545672,NaN,6.583219,NaN,6.545672,NaN,55930,NaN
1962-01-03 00:00:00,1.529942,NaN,6.645797,NaN,6.645797,NaN,6.533156,NaN,74906,NaN
1962-01-04 00:00:00,1.529942,NaN,6.645797,NaN,6.695859,NaN,6.645797,NaN,80899,NaN
1962-01-05 00:00:00,1.527062,NaN,6.633281,NaN,6.683344,NaN,6.620766,NaN,70911,NaN
1962-01-08 00:00:00,1.475199,NaN,6.408000,NaN,6.608250,NaN,6.357938,NaN,93883,NaN

In [83]:
def adj(sym, close, hilo):
    factor = sym / close
    #return factor
    hilo *= factor
    return hilo

In [84]:
adj(data.aa, data.aa_close, data.aa_low)

Date
1962-01-02     1.506892
1962-01-03     1.504011
1962-01-04     1.529942
1962-01-05     1.524179
1962-01-08     1.463673
                ...
2024-03-18    30.790001
2024-03-19    28.719999
2024-03-20    29.520000
2024-03-21    31.049999
2024-03-22    30.840000
Name: aa_low, Length: 15663, dtype: float64

In [85]:
adj(data.aa, data.aa_close, data.aa_high)

Date
1962-01-02     1.515536
1962-01-03     1.529942
1962-01-04     1.541467
1962-01-05     1.538585
1962-01-08     1.521298
                ...
2024-03-18    31.660000
2024-03-19    30.469999
2024-03-20    31.879999
2024-03-21    32.130001
2024-03-22    31.525000
Name: aa_high, Length: 15663, dtype: float64

In [41]:
def get_pct_change(stock: pd.Series) -> pd.Series:
    return pd.Series(
        np.concatenate([[1], stock.values[1:] / stock.values[:-1]]), index=stock.index)

In [42]:
get_pct_change(data.a)

Date
2020-01-02    1.000000
2020-01-03    0.983944
2020-01-06    1.002956
2020-01-07    1.003065
2020-01-08    1.009873
                ...
2024-03-18    0.990575
2024-03-19    1.008899
2024-03-20    0.999254
2024-03-21    1.009913
2024-03-22    0.991327
Length: 1063, dtype: float64

In [54]:
def get_next_day_ranges(close: pd.Series, low: pd.Series, high: pd.Series):
        c = close.values[:-1]
        l = low.values[1:]
        h = high.values[1:]
        next_day_min = pd.Series(np.concatenate([[1], l / c]), index=close.index)
        next_day_max = pd.Series(np.concatenate([[1], h / c]), index=close.index)
        return next_day_min, next_day_max

In [56]:
# Test
close = pd.Series([  1,   2,   3,   4, 3.7])
low =   pd.Series([0.8, 1.8, 1.9, 4.1, 4.7])
high =  pd.Series([0.9, 2.2, 3.3, 4.4, 3.9])
get_next_day_ranges(close, low, high)

(0    1.000000
 1    1.800000
 2    0.950000
 3    1.366667
 4    1.175000
 dtype: float64,
 0    1.000000
 1    2.200000
 2    1.650000
 3    1.466667
 4    0.975000
 dtype: float64)