In [2]:
import re

import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({
    'order_ref': ['342', '342', '342', '341', '341', '341'],
    'eqpt_name': [np.nan, np.nan, 'pql', np.nan, 'ncr', np.nan]})
df

  order_ref eqpt_name
0       342       NaN
1       342       NaN
2       342       pql
3       341       NaN
4       341       ncr
5       341       NaN

In [6]:
ref_name_map = {}
for ref, name in zip(df.order_ref, df.eqpt_name):
    if not np.isnan(name):
        ref_name_map[ref] = name
        
ref_name_map

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [8]:
df.groupby('order_ref')['eqpt_name'].transform('first')

0    pql
1    pql
2    pql
3    ncr
4    ncr
5    ncr
Name: eqpt_name, dtype: object

In [11]:
re.sub(r'\D', '', '$C145')

'145'