In [10]:
import re

import pandas as pd

In [68]:
apples = ["$ C145", "+ $22.34", "From USA"]
df = pd.DataFrame({'data': apples * 30})
df.head(6)

       data
0    $ C145
1  + $22.34
2  From USA
3    $ C145
4  + $22.34
5  From USA

In [69]:
df = pd.concat(
    [
        # Get every 3rd row as and reindex
        df.iloc[list(range(start, df.index.max(), 3)), :]
         .reset_index(drop=True)
         for start in [0, 1, 2]
    ],
    axis=1)
df.columns = ['price', 'shipping', 'origin']
df.price = df.price.str.extract(r'(\d+)').astype(int)
df.shipping = df.shipping.str.extract(r'(\d+\.\d*)').astype(float)
df.head()

   price  shipping    origin
0    145     22.34  From USA
1    145     22.34  From USA
2    145     22.34  From USA
3    145     22.34  From USA
4    145     22.34  From USA

In [54]:
def convert_df(df):
    df = df.T
    df.columns = ['price', 'shipping', 'origin']
    df.price = df.price.str.extract(r'(\d*)').astype(int)
    df.shipping = df.shipping.str.extract(r'(\d+\.\d*)').astype(float)
    return df

convert_df(df2)

ValueError: invalid literal for int() with base 10: ''

In [11]:
re.sub(r'\D', '', '$C145')

'145'