In [2]:
from datetime import datetime

import pandas as pd

In [3]:
df = pd.DataFrame({'End Date': [datetime.now()] * 5, 'duration_s': [889, 715, 1018, 598, 1418]})
df

                    End Date  duration_s
0 2023-11-27 14:20:02.570073         889
1 2023-11-27 14:20:02.570073         715
2 2023-11-27 14:20:02.570073        1018
3 2023-11-27 14:20:02.570073         598
4 2023-11-27 14:20:02.570073        1418

In [5]:
df.duration_s = pd.to_timedelta(df.duration_s, unit='S')
df

                    End Date      duration_s
0 2023-11-27 14:20:02.570073 0 days 00:14:49
1 2023-11-27 14:20:02.570073 0 days 00:11:55
2 2023-11-27 14:20:02.570073 0 days 00:16:58
3 2023-11-27 14:20:02.570073 0 days 00:09:58
4 2023-11-27 14:20:02.570073 0 days 00:23:38