In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame({
    'Key': ['FRA', 'FRA', 'FRA', 'BEL', 'BEL', 'BEL'],
    'Index': [None, 1, 3, None, 1, 3],
    'L4': [1000 * x for x in [12, 11, 31.1, 12, 11, 31.1]],
    'IEA_WEM22': [1000 * x for x in [12, 11, 31.1, 12, 11, 31.1]],
    'L1': ['Advanced economies'] * 6,
    'IEA_2018': [54, 8, 4, 8, 1, 1],
    'IEA_2019': [37, 8, 3, 9, 1, 1],
    'IEA_2020': [26, 7, 3, 7, 1, 1],
    'IEA_2021': [0., 11, 0., 0., 2, 0.]})
df

,Key,Index,L4,IEA_WEM22,L1,IEA_2018,IEA_2019,IEA_2020,IEA_2021
0,FRA,NaN,12000.0,12000.0,Advanced economies,54,37,26,0.0
1,FRA,1.0,11000.0,11000.0,Advanced economies,8,8,7,11.0
2,FRA,3.0,31100.0,31100.0,Advanced economies,4,3,3,0.0
3,BEL,NaN,12000.0,12000.0,Advanced economies,8,9,7,0.0
4,BEL,1.0,11000.0,11000.0,Advanced economies,1,1,1,2.0
5,BEL,3.0,31100.0,31100.0,Advanced economies,1,1,1,0.0

In [14]:
scen_name = 'IEA'
scen_reg_out_dict = {}
years = [2018, 2019, 2020, 2021]
for year in years:
    col = f'{scen_name}_{year}'
    scen_reg_out_dict[col] = (
        df.groupby(['L4', 'L1'])[col].agg('sum').astype('int64'))

In [15]:
scen_reg_out_dict

{'IEA_2018': L4       L1
 11000.0  Advanced economies     9
 12000.0  Advanced economies    62
 31100.0  Advanced economies     5
 Name: IEA_2018, dtype: int64,
 'IEA_2019': L4       L1
 11000.0  Advanced economies     9
 12000.0  Advanced economies    46
 31100.0  Advanced economies     4
 Name: IEA_2019, dtype: int64,
 'IEA_2020': L4       L1
 11000.0  Advanced economies     8
 12000.0  Advanced economies    33
 31100.0  Advanced economies     4
 Name: IEA_2020, dtype: int64,
 'IEA_2021': L4       L1
 11000.0  Advanced economies    13
 12000.0  Advanced economies     0
 31100.0  Advanced economies     0
 Name: IEA_2021, dtype: int64}