In [1]:
import numpy as np
import pandas as pd

In [52]:
bar = 45
hw = [44] + [33] + [22] + [11] + 2*[5.5] + 2*[2.75]
hw

[44, 33, 22, 11, 5.5, 5.5, 2.75, 2.75]

In [53]:
2 * sum(hw)

253.0

In [54]:
n_comb = 2**len(hw)
n_comb

256

In [58]:
data = [
    [int(i) for i in list(f'{str(bin(n))[2:]:>08s}')]
    for n in range(n_comb)]
data[:3]

[[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 1], [0, 0, 0, 0, 0, 0, 1, 0]]

In [59]:
df = pd.DataFrame(np.array(data) * np.array(hw), columns=hw)
df.head()

   44.00  33.00  22.00  11.00  5.50   5.50   2.75   2.75
0    0.0    0.0    0.0    0.0    0.0    0.0   0.00   0.00
1    0.0    0.0    0.0    0.0    0.0    0.0   0.00   2.75
2    0.0    0.0    0.0    0.0    0.0    0.0   2.75   0.00
3    0.0    0.0    0.0    0.0    0.0    0.0   2.75   2.75
4    0.0    0.0    0.0    0.0    0.0    5.5   0.00   0.00

In [60]:
df['halfweight'] = df.sum(axis=1)
df['weight'] = df.halfweight * 2
df['total'] = df.weight + bar
df.drop_duplicates(subset=['total'], inplace=True)
df = df.sort_values('total')
df.head(20)

    44.0  33.0  22.0  11.0  5.5  5.5  2.75  2.75  halfweight  weight  total
0    0.0   0.0   0.0   0.0  0.0  0.0  0.00  0.00        0.00     0.0   45.0
1    0.0   0.0   0.0   0.0  0.0  0.0  0.00  2.75        2.75     5.5   50.5
3    0.0   0.0   0.0   0.0  0.0  0.0  2.75  2.75        5.50    11.0   56.0
5    0.0   0.0   0.0   0.0  0.0  5.5  0.00  2.75        8.25    16.5   61.5
7    0.0   0.0   0.0   0.0  0.0  5.5  2.75  2.75       11.00    22.0   67.0
13   0.0   0.0   0.0   0.0  5.5  5.5  0.00  2.75       13.75    27.5   72.5
15   0.0   0.0   0.0   0.0  5.5  5.5  2.75  2.75       16.50    33.0   78.0
21   0.0   0.0   0.0  11.0  0.0  5.5  0.00  2.75       19.25    38.5   83.5
23   0.0   0.0   0.0  11.0  0.0  5.5  2.75  2.75       22.00    44.0   89.0
29   0.0   0.0   0.0  11.0  5.5  5.5  0.00  2.75       24.75    49.5   94.5
31   0.0   0.0   0.0  11.0  5.5  5.5  2.75  2.75       27.50    55.0  100.0
37   0.0   0.0  22.0   0.0  0.0  5.5  0.00  2.75       30.25    60.5  105.5
39   0.0   0.0  22.0   0.0  0.0  5.5  2.75  2.75       33.00    66.0  111.0
45   0.0   0.0  22.0   0.0  5.5  5.5  0.00  2.75       35.75    71.5  116.5
47   0.0   0.0  22.0   0.0  5.5  5.5  2.75  2.75       38.50    77.0  122.0
53   0.0   0.0  22.0  11.0  0.0  5.5  0.00  2.75       41.25    82.5  127.5
55   0.0   0.0  22.0  11.0  0.0  5.5  2.75  2.75       44.00    88.0  133.0
61   0.0   0.0  22.0  11.0  5.5  5.5  0.00  2.75       46.75    93.5  138.5
63   0.0   0.0  22.0  11.0  5.5  5.5  2.75  2.75       49.50    99.0  144.0
85   0.0  33.0   0.0  11.0  0.0  5.5  0.00  2.75       52.25   104.5  149.5

In [61]:
df.to_csv('~/Desktop/strength/weights.csv', index=False)

In [5]:
c = list('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMONPQRSTUVWKYZ0123456789$.,!%^*#')
''.join(np.random.choice(c, size=15))

'%MY26scYio%1rpw'