In [1]:
import numpy as np
import pandas as pd

In [18]:
bar = 5 #45
hw = 5*[5] + 2*[2.5] + 2*[1.25] #95[44] + [33] + [22] + [11] + 2*[5.5] + 2*[2.75]
hw

[5, 5, 5, 5, 5, 2.5, 2.5, 1.25, 1.25]

In [19]:
2 * sum(hw)

65.0

In [20]:
n_comb = 2**len(hw)
n_comb

512

In [21]:
data = [
    [int(i) for i in list(f'{str(bin(n))[2:]:>09s}')]   # 11 = len(hw)
    for n in range(n_comb)]
data[:3]

[[0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0, 0, 0, 1, 0]]

In [22]:
df = pd.DataFrame(np.array(data) * np.array(hw), columns=hw)
df.head()

   5.00  5.00  5.00  5.00  5.00  2.50  2.50  1.25  1.25
0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.00  0.00
1   0.0   0.0   0.0   0.0   0.0   0.0   0.0  0.00  1.25
2   0.0   0.0   0.0   0.0   0.0   0.0   0.0  1.25  0.00
3   0.0   0.0   0.0   0.0   0.0   0.0   0.0  1.25  1.25
4   0.0   0.0   0.0   0.0   0.0   0.0   2.5  0.00  0.00

In [23]:
df['halfweight'] = df.sum(axis=1)
df['weight'] = df.halfweight * 2
df['total'] = df.weight + bar
df.drop_duplicates(subset=['total'], inplace=True)
df = df.sort_values('total')
df.head(20)

     5.0  5.0  5.0  5.0  5.0  2.5  2.5  1.25  1.25  halfweight  weight  total
0    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.00  0.00        0.00     0.0    5.0
1    0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.00  1.25        1.25     2.5    7.5
3    0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.25  1.25        2.50     5.0   10.0
5    0.0  0.0  0.0  0.0  0.0  0.0  2.5  0.00  1.25        3.75     7.5   12.5
7    0.0  0.0  0.0  0.0  0.0  0.0  2.5  1.25  1.25        5.00    10.0   15.0
13   0.0  0.0  0.0  0.0  0.0  2.5  2.5  0.00  1.25        6.25    12.5   17.5
15   0.0  0.0  0.0  0.0  0.0  2.5  2.5  1.25  1.25        7.50    15.0   20.0
21   0.0  0.0  0.0  0.0  5.0  0.0  2.5  0.00  1.25        8.75    17.5   22.5
23   0.0  0.0  0.0  0.0  5.0  0.0  2.5  1.25  1.25       10.00    20.0   25.0
29   0.0  0.0  0.0  0.0  5.0  2.5  2.5  0.00  1.25       11.25    22.5   27.5
31   0.0  0.0  0.0  0.0  5.0  2.5  2.5  1.25  1.25       12.50    25.0   30.0
53   0.0  0.0  0.0  5.0  5.0  0.0  2.5  0.00  1.25       13.75    27.5   32.5
55   0.0  0.0  0.0  5.0  5.0  0.0  2.5  1.25  1.25       15.00    30.0   35.0
61   0.0  0.0  0.0  5.0  5.0  2.5  2.5  0.00  1.25       16.25    32.5   37.5
63   0.0  0.0  0.0  5.0  5.0  2.5  2.5  1.25  1.25       17.50    35.0   40.0
117  0.0  0.0  5.0  5.0  5.0  0.0  2.5  0.00  1.25       18.75    37.5   42.5
119  0.0  0.0  5.0  5.0  5.0  0.0  2.5  1.25  1.25       20.00    40.0   45.0
125  0.0  0.0  5.0  5.0  5.0  2.5  2.5  0.00  1.25       21.25    42.5   47.5
127  0.0  0.0  5.0  5.0  5.0  2.5  2.5  1.25  1.25       22.50    45.0   50.0
245  0.0  5.0  5.0  5.0  5.0  0.0  2.5  0.00  1.25       23.75    47.5   52.5

In [24]:
df.to_csv('~/Desktop/strength/dumb_weights.csv', index=False)

In [5]:
c = list('abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMONPQRSTUVWKYZ0123456789$.,!%^*#')
''.join(np.random.choice(c, size=15))

'%MY26scYio%1rpw'